<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Recipe Book</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active-shopping">
          <a [routerLink]="['/shopping']">Shopping</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div class="buttons">
          <button class="btn btn-primary" (click)="onClick('login')">
            Login
          </button>
          <button class="btn btn-primary" (click)="onClick('logout')">
            Logout
          </button>
        </div>
      </ul>
    </div>
  </div>
</nav>
